<header>
  <div class="max-width-container">
    <sl-avatar display-name="Hello Lynn!" picture-url="assets/student-avatar.jpg" size="3xl"></sl-avatar>
    <app-search (search)="search($event)"></app-search>
  </div>
</header>
<div class="content">
  <div *ngIf="!!query; else home">
    <h1>Search result for {{query | json}}</h1>
    <ng-container *ngFor="let result of results">
      <div class="skeleton"></div>
      <div class="skeleton"></div>
      <div class="skeleton" style="--w:40%; --m:3rem"></div>
    </ng-container>
  </div>

  <ng-template #home>
    <sl-tab-group (sl-tab-change)="onTabChange($event)">
      <sl-tab
        *ngFor="let tab of tabs"
        [routerLink]="tab.path"
      >
        {{ tab.label }}
      </sl-tab>
      <router-outlet></router-outlet>
    </sl-tab-group>
  </ng-template>
</div>
