:host {
  --sl-color-palette-white-base: rgb(254 254 254);
  --sl-color-palette-black-base: rgb(34 34 34);
  --sl-color-palette-danger-base: rgb(255 87 92);
  --sl-color-palette-warning-base: rgb(255 207 13);
  --sl-color-palette-success-base: rgb(69 204 128);
  --sl-color-palette-info-base: rgb(51 102 255);
  --sl-color-palette-neutral-base: rgb(34 34 34);
  --sl-color-palette-accent-base: rgb(51 102 255);
  --sl-color-palette-primary-base: rgb(34 34 34);
  --_max-content-width: 700px;

  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: source-sans-pro, "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  gap: 2em;
  inline-size: 100%;
  justify-content: flex-start;
  min-block-size: 100%;
  position: relative;
}

.content {
  align-self: center;
  width: 100%;
  max-width: var(--_max-content-width);
  margin-bottom: 5rem;
  display: flex;
  gap: 20px;
}

header {
  background-color: var(--sl-color-palette-accent-base);
  position: sticky;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1;
}

.max-width-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--_max-content-width);

}

sl-avatar {
  color: var(--sl-color-palette-white-base);

  &::part(name) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.skeleton {
  background-color: var(--sl-color-palette-neutral-base);
  opacity: 0.1;
  display: inline-flex;
  height: var(--h, 1rem);
  width: var(--w, 100%);
  margin-bottom: var(--m, 0.5rem);
  border-radius: 4px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
