<p>onpush works!</p>

<section>
  <sl-form [formGroup]="formGroup">
    <h1>Example form</h1>

    <sl-form-field label="Checkbox">
      <sl-checkbox formControlName="checkbox" value="checked" (sl-change)="clickCheckbox($event)">Checkbox</sl-checkbox>
    </sl-form-field>

    <sl-form-field label="Text field">
      <sl-text-field formControlName="textField"></sl-text-field>
    </sl-form-field>

    <sl-button-bar>
      <sl-button [attr.disabled]="formGroup.invalid || null" (click)="addComment()">Send</sl-button>
    </sl-button-bar>
  </sl-form>

  <div>
  <sl-button *ngIf="formGroup.invalid" [attr.disabled]="formGroup.invalid || null" (click)="addComment()">Should be shown when form is invalid</sl-button>

  <sl-button *ngIf="formGroup.controls.textField.invalid" [attr.disabled]="formGroup.invalid || null" (click)="addComment()">Should be shown when text-field invalid</sl-button>
  </div>

  <pre>{{ formGroup.value | json}}</pre>
  <div>
    form:
    <pre>{{ formGroup.status | json}}</pre>

    checkbox:
    <pre>{{ formGroup.controls.checkbox.status | json}}</pre>

    text-field:
    <pre>{{ formGroup.controls.textField.status | json}}</pre>
  </div>

  <form [formGroup]="formGroup1">
    <input id="input1" formControlName="checkbox1" type="checkbox" (click)="clickCheckbox($event)" required />
    <label for="input1">My checkbox test</label>
  </form>

  <pre>{{ formGroup1.value | json}}</pre>
  <pre>{{ formGroup1.invalid | json}}</pre>
  <sl-button [attr.disabled]="formGroup1.invalid || null" (click)="addComment()">Disabled when invalid</sl-button>
</section>
